{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="slider__container"> 


						<div class="slider__control slider__control--left">
							<div class="slider__control__inner circleCursor pelement" data-power="2"></div>
						</div>
						<div class="slider__control slider__control--right">
							<div class="slider__control__inner circleCursor pelement" data-power="2"></div>
						</div>
						<div class="slider">
							<article class="slide">
								<div class="slide__bg"
									style=" background-image: url('https://www.homesalons-magazine.fr/wp-content/uploads/2020/10/canape-convertible-sable-homesalons.jpg');">
								</div>
								<div class="container slide__container">
									<div class="slide__left">
										<div class="slide__line"></div>
										<h2 class="slide__title">
											Salons
											<span class="reveal_titre one"></span>
										</h2>
										<div class="slide__subtitle">
											Confort absolue
											<span class="reveal_titre two"></span>
										</div>
										<div class="slide__smalltext">
											Un maximun de confort pour la détente avec un design
											sophistiqué.
										</div>
										<div class="slide__link">

											<a href="/prodotti/tende-per-interno.html" class="button pelement">Découvrir</a>

										</div>
									</div>
									<div class="slide__right">
										<div class="tilt" data-tilt data-tilt-glare="true" data-tilt-maxglare="0.1"
											data-tilt-max="5" data-tilt-perspective="1000" data-tilt-scale="1.02"
											data-tilt-speed="2500" data-tilt-transition="true">
											<img src="https://www.homesalons-magazine.fr/wp-content/uploads/2020/10/canape-convertible-sable-homesalons.jpg"
												required="true" alt="Immagine Tappezzeria Novecento" />
											<div class="imgPlaceholder"></div>
										</div>
									</div>
								</div>
							</article>

							<article class="slide">
								<div class="slide__bg" style="
									background-image: url('https://www.deco.fr/sites/default/files/styles/article_970x500/public/2019-10/shutterstock_526912636.webp?itok=Aqk1cuoi');"></div>
								<div class="container slide__container">
									<div class="slide__left">
										<div class="slide__line"></div>
										<h2 class="slide__title">
											Chambre
											<span class="reveal_titre one"></span>
										</h2>
										<div class="slide__subtitle">
											Infinite soluzioni
											<span class="reveal_titre two"></span>
										</div>
										<div class="slide__smalltext">
											Il perfetto equilibrio tra luce del sole e clima.
										</div>
										<div class="slide__link">
											<a href="/prodotti/tende-da-sole.html" class="button pelement">Scopri di
												pi&#xF9;</a>
										</div>
									</div>
									<div class="slide__right">
										<div class="tilt" data-tilt data-tilt-glare="true" data-tilt-maxglare="0.1"
											data-tilt-max="5" data-tilt-perspective="1000" data-tilt-scale="1.02"
											data-tilt-speed="2500" data-tilt-transition="true">
											<img src="https://www.deco.fr/sites/default/files/styles/article_970x500/public/2019-10/shutterstock_526912636.webp?itok=Aqk1cuoi"
												required="true" alt="Immagine Tappezzeria Novecento" />
											<div class="imgPlaceholder"></div>
										</div>
										<!-- <div class="">Tende da sole</div> -->
									</div>
								</div>
							</article>

							<article class="slide">
								<div class="slide__bg" style="
								background-image: url('https://s3.eu-west-3.amazonaws.com/usineadesign.com/wp-content/uploads/2022/05/02101842/Bien_decorer_sa_salle_a_manger.jpg');"></div>
								<div class="container slide__container">
									<div class="slide__left">
										<div class="slide__line"></div>
										<h2 class="slide__title">
											Salle à manger
											<span class="reveal_titre one"></span>
										</h2>
										<div class="slide__subtitle">
											Infinite soluzioni
											<span class="reveal_titre two"></span>
										</div>
										<div class="slide__smalltext">
											Il perfetto equilibrio tra luce del sole e clima.
										</div>
										<div class="slide__link">
											<a href="/prodotti/tende-da-sole.html" class="button pelement">Scopri di
												pi&#xF9;</a>
										</div>
									</div>
									<div class="slide__right">
										<div class="tilt" data-tilt data-tilt-glare="true" data-tilt-maxglare="0.1"
											data-tilt-max="5" data-tilt-perspective="1000" data-tilt-scale="1.02"
											data-tilt-speed="2500" data-tilt-transition="true">
											<img src="https://s3.eu-west-3.amazonaws.com/usineadesign.com/wp-content/uploads/2022/05/02101842/Bien_decorer_sa_salle_a_manger.jpg"
												required="true" alt="Immagine Tappezzeria Novecento" />
											<div class="imgPlaceholder"></div>
										</div>
										<!-- <div class="">Tende da sole</div> -->
									</div>
								</div>
							</article>

							<article class="slide">
								<div class="slide__bg" style="
									background-image: url('https://www.cuisines-hugo-martin.fr/medias/images/cuisine-design-noire-epure-1.jpg');"></div>
								<div class="container slide__container">
									<div class="slide__left">
										<div class="slide__line"></div>
										<h2 class="slide__title">
											Cuisine
											<span class="reveal_titre one"></span>
										</h2>
										<div class="slide__subtitle">
											Comodit&#xE0; assoluta
											<span class="reveal_titre two"></span>
										</div>
										<div class="slide__smalltext">
											Il massimo confort per un relax dal design ricercato.
										</div>
										<div class="slide__link">
											<a href="/prodotti/divani-e-poltrone.html" class="button pelement">Scopri di
												pi&#xF9;</a>
										</div>
									</div>
									<div class="slide__right">
										<div class="tilt" data-tilt data-tilt-glare="true" data-tilt-maxglare="0.1"
											data-tilt-max="5" data-tilt-perspective="1000" data-tilt-scale="1.02"
											data-tilt-speed="2500" data-tilt-transition="true">
											<img src="https://www.cuisines-hugo-martin.fr/medias/images/cuisine-design-noire-epure-1.jpg"
												required="true" alt="Immagine Tappezzeria Novecento" />
											<div class="imgPlaceholder"></div>
										</div>
										<!-- <div class="">Salotti</div> -->
									</div>
								</div>
							</article>
							<article class="slide">
								<div class="slide__bg" style="
									background-image: url('https://cuisines-bains-magazine.com/wp-content/uploads/2020/07/Delinea_pag_14_15.jpg');"></div>
								<div class="container slide__container">
									<div class="slide__left">
										<div class="slide__line"></div>
										<h2 class="slide__title">
											Salle de bain
											<span class="reveal_titre one"></span>
										</h2>
										<div class="slide__subtitle">
											Una nuova vita
											<span class="reveal_titre two"></span>
										</div>
										<div class="slide__smalltext">
											Riparazione e restauro per salotti, sedie e poltrone.
										</div>
										<div class="slide__link">
											<a href="/servizi.html" class="button pelement">Scopri di pi&#xF9;</a>
										</div>
									</div>
									<div class="slide__right">
										<div class="tilt" data-tilt data-tilt-glare="true" data-tilt-maxglare="0.1"
											data-tilt-max="5" data-tilt-perspective="1000" data-tilt-scale="1.02"
											data-tilt-speed="2500" data-tilt-transition="true">
											<img src="https://cuisines-bains-magazine.com/wp-content/uploads/2020/07/Delinea_pag_14_15.jpg"
												required="true" alt="Immagine Tappezzeria Novecento" />
											<div class="imgPlaceholder"></div>
										</div>
										<!-- <div class="">Riparazioni</div> -->
									</div>
								</div>
							</article>
						</div>
						<a class="scroll-hint goToPos" href="javascript:;" data-target=".scrollTo" data-offset="150">
							<div class="scroll-hint__label">Scroll pour explorer</div>
						</a>
					</div>

					<section class="home__service scrollTo">
						<div class="parallax-container parallax-container--center-top">
							<h2 class="parallax parallax-title" data-rellax-speed="2" data-rellax-percentage="0.3">
								Prestations
							</h2>
						</div>
						<div class="container">
							<article class="home__service__row anim">
								<div class="home__service__col">
									<div class="home__service__imgWrapper">
										<div class="reveal-image lazyBg"
											data-src="https://www.ehess.fr/sites/default/files/styles/taille_image_contenu__870/public/evenements/images/design-.jpg?itok=Cxl041fI"></div>
									</div>
								</div>
								<div class="home__service__col home__service__col--offset">
									<h3 class="home__service__title">Progettazione</h3>
									<div class="home__service__text">
										<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas perspiciatis quae inventore eum aliquam rerum quia perferendis unde, expedita dolorum! Officiis laborum temporibus deleniti alias.</p> 
									</div>
								</div>
							</article>
							<article class="home__service__row anim">
								<div class="home__service__col">
									<div class="home__service__imgWrapper">
										<div class="reveal-image lazyBg"
											data-src="https://www.ehess.fr/sites/default/files/styles/taille_image_contenu__870/public/evenements/images/design-.jpg?itok=Cxl041fI"></div>
									</div>
								</div>
								<div class="home__service__col home__service__col--offset">
									<h3 class="home__service__title">Riparazioni</h3>
									<div class="home__service__text">
										<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores voluptas similique totam quia eveniet laboriosam harum est! Incidunt amet explicabo magni nam, itaque exercitationem, soluta architecto eligendi perspiciatis commodi distinctio?</p> 
									</div>
								</div>
							</article>
							<div class="home__service__buttonWrap">
								<a href="{{ path('app_prestations_index') }}" class="button pelement">Servicess</a>
							</div>
						</div>
					</section>

</div>
{% endblock %}