*{
    font-family: "Palatino Linotype", serif;
}

.parallax-container-portfolio {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-title-portfolio {
    position: relative;
    font-family: "Palatino Linotype", serif;
    font-size: 200px;
    font-weight: 900;
    line-height: 1em;
    color: #fab06249;
    margin-top: 0;
    height: 10px;
}

@media (max-width: 1200px) {
    .parallax-title-portfolio {
        font-size: 150px;
    }
}

@media (max-width: 767px) {
    .parallax-title-portfolio {
        font-size: 60px;
    }
}