:root{
    --main-color: #011126;
    --sec-color: #144673;
    --third-color: #8C6849;
    --bg-color: #D9B596;
    --m-0: ;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  /* Navbar section */
  
  .nav {
    z-index: 12;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
  }
  
  .nav ul li a {
    color: #fff;
    padding: 12px;
  }
  
  .nav a :hover {
    color: #dc0303;
  }
  
  
  
  
  /* Home section */
  
  .home {
    width: 1px;
    height: 1px;
  }
  
  
  .nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  
  /* Media qurey section */
  
  
  
  .affix {
    padding: 0;
    background-color: #111;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  /* Carousel styling */
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 100vh;
    -webkit-box-shadow: #000 0 7px 35px 0;
    -moz-box-shadow: #000 0 7px 35px 0;
    box-shadow: #000 0 7px 35px 0;
  }
  
  
  @media only screen and (min-device-width : 2550px) and (max-device-width : 3550px) and (orientation : landscape) {
  
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
      height: 105vh;  
    }
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
  
    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
      height: 110vh;
    }
  }
  
  
  .carousel-item:nth-child(1) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .carousel-item:nth-child(2) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  .carousel-item:nth-child(3) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #introCarousel {
      margin-top: -58.59px;
    }
  }
  
  .navbar .nav-link {
    color: #fff !important;
  }
  
  
  
  
  
  
  
  
  /* FOOTER */
  #site-content {
    padding: 120px 0;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 9;
    -webkit-box-shadow: #000 0 7px 35px 0;
    -moz-box-shadow: #000 0 7px 35px 0;
    box-shadow: #000 0 7px 35px 0;
  
  }
  
  #site-footer {
    font-size: 100%;
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  .image-home {
    width: 99.4vw;
    height: 75vh;
  }
  
  #site-content {
    z-index: 9;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background: #fff;
  }
  
  #site-footer {
    /* DID THIS SO YOU CAN SEE IT AUTOMATICALLY SCALE - SIMULATION RESPONSIVENESS */
    /* RESIZE THE WINDOW AND THEN SCROLL VERITCALLY AGAIN */
    background-size: cover;
    background-position: center;
  }
  
  
  
  .footer-section {
    background: #fff;
    position: relative;
  }
  
  .footer-cta {
    border-bottom: 1px solid #e3951b;
  }
  
  .single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  
  .cta-text h4 {
    color: #e3951b;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  
  .cta-text span {
    color: #062c6c;
    font-size: 15px;
  }
  
  .footer-content {
    position: relative;
    z-index: 2;
  }
  
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  
  .footer-logo {
    margin-bottom: 30px;
  }
  
  .footer-logo img {
    max-width: 200px;
  }
  
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #062c6c;
    line-height: 28px;
  }
  
  .footer-social-icon span {
    color: #062c6c;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  
  .facebook-bg {
    background: #3B5998;
  }
  
  .twitter-bg {
    background: #55ACEE;
  }
  
  .google-bg {
    background: #DD4B39;
  }
  
  .footer-widget-heading h3 {
    color: #e3951b;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #e3951b;
  }
  
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  
  .footer-widget ul li a:hover {
    color: #e3951b;
  }
  
  .footer-widget ul li a {
    color: #062c6c;
    text-transform: capitalize;
  }
  
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #D98E04;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
  }
  
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  
  .copyright-area {
    background: #1D2C59;
    padding: 25px 0;
  }
  
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #023859;
  }
  
  .copyright-text p a {
    color: #ff5e14;
  }
  
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .footer-menu li:hover a {
    color: #ff5e14;
  }
  
  .footer-menu li a {
    font-size: 14px;
    color: #062c6c;
  }