{% extends 'base_admin.html.twig' %}

{% block title %}Edit Prestations{% endblock %}

{% block body %}
    <h1>Edit Prestations</h1>

    {{ include('admin/prestations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_prestations_index') }}">back to list</a>

    {{ include('admin/prestations/_delete_form.html.twig') }}
{% endblock %}
