{% extends 'base_admin.html.twig' %}

{% block title %}New Prestations{% endblock %}

{% block body %}
    <h1>Create new Prestations</h1>

    {{ include('admin/prestations/_form.html.twig') }}

    <a href="{{ path('app_admin_prestations_index') }}">back to list</a>
{% endblock %}
