{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}

<div style="height: 50vh;"></div>
<h1>A propos de nous</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident accusantium corporis dolorem eaque eligendi
    recusandae aut optio similique amet expedita alias quisquam, magnam dignissimos? Dignissimos accusantium nihil
    voluptatibus repellendus nesciunt libero assumenda expedita ea quis sed! Porro quibusdam recusandae odit iusto eius
    doloribus quas modi velit cumque minus voluptatibus eveniet, totam quasi neque. Voluptate aut, sed magnam nihil
    voluptatum nesciunt accusantium eos doloremque delectus modi quis esse, laborum itaque ratione. Quos a beatae nobis
    laborum fugiat repellat accusamus obcaecati, aliquid veniam distinctio, odio aut possimus odit, provident tempore
    sit! Cupiditate quae, deserunt fugit recusandae fugiat sapiente architecto ratione reprehenderit doloribus deleniti
    aliquam corporis in, possimus voluptates non quas eligendi eos omnis! Minima, fugit blanditiis voluptatem saepe
    natus repudiandae nemo iste ratione explicabo dolorem odio, ipsam quo provident laborum exercitationem! Expedita
    nulla quas iusto consectetur rerum optio eaque sint earum magnam molestias aspernatur, vel numquam odit voluptas
    cum. Quis molestiae culpa vero est et tenetur ipsum totam! Non optio doloremque minus illum facere vero porro
    reiciendis ullam accusamus at tempora impedit, vel ducimus odio dolores exercitationem rerum adipisci praesentium
    ea. Mollitia, obcaecati? Incidunt quisquam blanditiis temporibus, atque exercitationem repellendus nostrum, cum eius
    at assumenda nemo modi saepe magni voluptatem error libero magnam nulla neque consequuntur harum illo. Autem a ad
    velit rem temporibus quae quis nam, veniam nesciunt minus illo fugiat eligendi iusto et eaque rerum vel dolores sed
    est, culpa totam iure, minima voluptates magni! Totam neque ea eligendi cum a iste quo? Quidem sequi beatae officiis
    perspiciatis esse laboriosam?</p>

{% endblock %}