{% extends 'base_admin.html.twig' %}

{% block title %}Edit CategoriesPrix{% endblock %}

{% block body %}
    <h1>Edit CategoriesPrix</h1>

    {{ include('admin/categories_prix/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_categories_prix_index') }}">back to list</a>

    {{ include('admin/categories_prix/_delete_form.html.twig') }}
{% endblock %}
