{% extends 'base.html.twig' %}

{% block title %}DD Interiors Home prestation{% endblock %}

{% block body %}
    <div style="height: 100vh;">
    </div>
        <div style="color: black">
            <h1>Résultat de la conception par pièce "{{ prestation.titre }}"</h1>
            
            <p>Nombre de pièces sélectionné : {{ nombrePieces }}</p>
            <p>Nouveau prix : {{ prix }} €</p>
            
            
            <a href="{{ path('app_cart_add', {'id': prestation.id, 'prixReel': prix, 'nombrePieces': nombrePieces, 'fraisdedeplacement': fraisdedeplacement }) }}">
                <button type="button" class="btn btn-primary">Ajouter au panier</button>
            </a>
        </div>
{% endblock %}