{% extends 'base.html.twig' %}

{% block title %}DD Interiors Home prestation{% endblock %}


{% block body %}
<div style="height: 100vh;"><div>
    <h1>Résultat de la conception</h1>

    <p style="color: black;">Surface saisie : {{ surface }} m²</p>

    <a href="{{ path('app_cart_add', {'id': prestation.id, 'surface': surface }) }}">
        <button type="button" class="btn btn-primary">Ajouter au panier</button>
    </a>

{% endblock %}