{% extends 'base_admin.html.twig' %}

{% block title %}Edit Commentaires{% endblock %}

{% block body %}
    <h1>Edit Commentaires</h1>

    {{ include('admin/commentaires/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_commentaires_index') }}">back to list</a>

    {{ include('admin/commentaires/_delete_form.html.twig') }}
{% endblock %}
