{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<div style="height: 50vh; margin-top: 20vh;">
<h1 style="color: black;">
La commande a bien été validé
</h1>
</div>
{% endblock %}